<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cherry.blog.dao.ArticleDao" >

    <insert id="save" parameterType="org.cherry.blog.domain.Article">
        INSERT INTO tb_article
        (
          `article_typeId`,
          `article_title`,
          `article_content`,
          `article_info`,
          `article_count`,
          `article_from`,
          `create_time`,
          `update_time`,
          `is_delete`
        )
        VALUES
        (
          #{articleTypeId},
          #{articleTitle},
          #{articleContent},
          #{articleInfo},
          #{articleCount},
          #{articleFrom},
          #{createTime},
          #{updateTime},
          #{isDelete}
        )
    </insert>

    <update id="update" parameterType="org.cherry.blog.domain.Article">
        update tb_article
        <set>
            <if test="articleTypeId != null">`article_typeId` = #{articleTypeId},</if>
            <if test="articleTitle != null">`article_title` = #{articleTitle},</if>
            <if test="articleContent != null">`article_content` = #{articleContent},</if>
            <if test="articleInfo != null">`article_info` = #{articleInfo},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="isDelete != null">`is_delete` = #{isDelete}</if>
        </set>
        where id = #{id}
    </update>

    <select id="selectAll" resultType="org.cherry.blog.dto.ArticleDto">
        SELECT *
        FROM tb_article tar LEFT JOIN tb_articleType typ ON tar.article_typeId = typ.id
        WHERE tar.is_delete = 0
    </select>

    <select id="selectByTypeId" resultType="org.cherry.blog.dto.ArticleDto">
        SELECT *
        FROM tb_article
        WHERE is_delete = 0 AND article_typeId=#{typeId}
    </select>

</mapper>