<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cherry.blog.dao.ReviewDao" >
    <insert id="save" parameterType="org.cherry.blog.domain.Review">
        INSERT INTO tb_review
        (
        `review_articleID`,
        `review_content`,
        `review_img`,
        `create_time`,
        `update_time`,
        `is_delete`
        )
        VALUES
        (
        #{reviewArticleID},
        #{reviewContent},
        #{reviewImg},
        #{createTime},
        #{updateTime},
        #{isDelete}
        )
    </insert>


</mapper>