<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cherry.blog.dao.UserDao" >

    <select id="selectAll" resultType="org.cherry.blog.domain.User">
        SELECT id id, user_name userName, user_pwd userPwd
        FROM tb_user
    </select>

    <select id="queryByUserName" parameterType="java.lang.String" resultType="org.cherry.blog.domain.User">
        SELECT id id, user_name userName, user_pwd userPwd,nick_name nickName,create_time createTime,update_time updateTime,is_delete isDelete
        FROM tb_user
        WHERE user_name=#{userName} AND user_pwd=#{userPwd}
    </select>

</mapper>